#menu_container{
	background: white;
	margin: 0.3rem 0.7rem;
	height: 130px;
	position: relative;
	top: 4.5rem;
}
#menu_container ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}